* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  background-image: linear-gradient( to bottom, #f9a828, #ececeb, #07617d, #2e383f);
}


.topnav-right {
  overflow: hidden;
  background-color: #333;
}

.topnav-right a {
  float: right; 
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav-right a:hover {
  background-color: #ddd;
  color: black;
}


.animation-area {
  background: linear-gradient( to left, #ff165d, #ff9a00,);
  width: 100%;
  height: 100vh;
}

a {
  color:black;
}

a:hover {
  color:teal;
}


footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;    
}
