* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    margin: 0;
    background-color: lavender;
  }



nav {
    display: flex;
    -ms-flex-align: right;
    /* background-color: lightblue; */
  }
  nav header {
    color: black;
    padding-inline-end: 15%;
    text-decoration: none;
    text-align: wrap;
    font-size: xx-large;
  }
  
  nav a {
    color: #13293d;
    padding: 20px;
    text-decoration: none;
    text-align: center;
    /* margin-left: 100px; */
    text-decoration: underline;
    /* background-color: lightblue; */
  }

  /* header {
    background-color: lightblue;
  } */

  /* .animation-area {
    background: linear-gradient(to left, #8942a8, #ba382f);
    width: 100%;
    height: 100vh;
  } */

  
  
  a {
    color:black;
  }

  a:hover {
    color: red;
  }

  #camera:hover {
    color: red;
  }

  #LED:hover {
    color: red;
  }

  #cal:hover {
    color: red;
  }

footer { 
  /* background-color: lightblue; */
  text-align: center;
  padding: 1%;  
}

