<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width={device-width}, initial-scale=1.0">
    <title>QuikPiks</title>
    <link rel="stylesheet" href="/style.css">
</head>


<body class= "animation-area">
  <nav>
    <img src="https://media.giphy.com/media/xUOxfjsW9fWPqEWouI/giphy.gif" alt="questionMark" style="width:48px;height:48px;">
    <Header id="main-icon">QuikPiks</Header>
    <h1>
    <a href="/home">Home</a>

    <a href="/my-votes">Results</a>

    <a href="/login" id= "logout">Logout</a>

    <a href="/login">Login</a>

    <!-- <a href="#Contact">Contact</a> -->
    </h1>
  </nav>
    {{{body}}}
    <div class="page-section">
      <a href="/profile"><h3>User Profile</h3></a>
      <h3 id="About">
        About
      </h3>
    <div class="content">
      <p> Let the masses choose for you! Simply click "We Pik" and you'll be able to submit a vote for active users to vote on so you no longer have to make a tough decision. And if you feel like making someone else's decision instead of your own, click "You Pik", and someone else's fate is in your hands.
      </p>
      <p>View voting results in Results in the top menu</p>
        <a href="#" id="facebook">
            <img src="/assests/facebook logo.jpeg" alt="" style="width:48px;height:48px">
        </a>
            <a href="#" id="instagram">
                <img src="/assests/Instagram_logo_2016.svg.png" alt="" style="width:48px;height:48px">
            </a>
                <a href="#" id="twitter">
                    <img src="/assests/twitter logo.jpeg" alt="" style="width:48px;height:48px">
                </a>

        <div id="downL">
            <p><b>Download our app</b></p>
            <ul>
                <li>
                    <a href="">
                        <img src="/assests/google-play.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="/assests/app-store.png" alt="">
                    </a>
                </li>
            </ul>
        </div>

    </div>
    </div>
  </div>
</body>

<footer>
  <script src="/js/logout.js"></script>
    <h4>© 2021 QuikPiks</h4>
  </footer>
</html>
