

<div class="log-in">

  <form>
    <div class="container">
        <h1>Log-in</h1>
      <label for="Name"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="Name" id= "name" required>
  
      <label for="Passw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="Passw" id= "passW" required>

      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
      <button type="submit" id= "loginBtn">Login</button>
    </div>
  
    <div class="container">
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
  
  <form>
    <div class="container">
      <h1>Sign Up</h1>
      <hr>
  
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" id= "newEmail" required>

      <label for="Uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="Uname" id= "newName" required>

  
      <label for="Passw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="Passw" id= "newPassW" required>
    
      <label>
        <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
      </label>
  
      <p>Upon creating an account you are agreeing to our <a href="#">Terms & Privacy</a>.</p>
  
      <div class="clearfix">
        <button type="submit" class="signupbtn" id= "signupBtn">Sign Up</button>
      </div>
    </div>
  </form>
</div>

<script src= "/js/login.js"></script>