<!-- {
	"question": "Does the timestamp work5?",
	"option1": "Nowhere",
	"option2": "The pub 5",
	"option3": "The zoo",
	"user_id": 1
} -->

<form id="new-vote-form">
  <label for="question">Question:</label><br>
  <input type="text" id="question" name="question"><br>
  <label for="option1">Option 1:</label><br>
  <input type="text" id="option1" name="option1"><br>
  <label for="option2">Option 2:</label><br>
  <input type="text" id="option2" name="option2"><br>
  <label for="option3">Option 3:</label><br>
  <input type="text" id="option3" name="option3"><br>
  <label for="option4">Option 4:</label><br>
  <input type="text" id="option4" name="option4"><br>
  <button id="submit-vote" type="submit" class="submitBtn">Create New Vote</button>
</form>


<script src="/js/newVotes.js" charset="utf-8"></script>
