<link rel="stylesheet" type="text/css" href="/style/profile.css">
<div class="flex">
<div class="profile-pic-div">
    <img src="" id="photo">
    <input type="file" id="file">
    <label for="file" id="uploadBtn">Choose Photo</label>
</div>

<p id='name'>John Smith</p>
</div>
</br>

<div id="profile">
  <div id="link-box">
    <h3><a style="text-decoration:none" href="#" id="History">History</a></h3>
    <h3><a style="text-decoration:none" href="#" id="Preferences">Preferences</a></h3>
    <h3><a style="text-decoration:none" href="https://www.w3schools.com/" id="Vote">Vote</a></h3>
   </div>
<div id="sidebox" class="hidden">


</div>
</div>
<script src="/js/profile.js"></script>
<script src="/js/profilepic.js"></script>
