<p>Name/Information</p>

</br>

<div id="profile">
  <div id="link-box">
    <h3><a style="text-decoration:none" href="#" id="History">History</a></h3>
    <h3><a style="text-decoration:none" href="#" id="Preferences">Preferences</a></h3>
    <h3><a style="text-decoration:none" href="#" id="Vote">Vote</a></h3>
    <h3><a style="text-decoration:none" href="#" id="Comment">Comment</a></h3>
   </div>
<div id="sidebox" class="hidden">


</div>
</div>
<script src="/js/profile.js"></script>