<link rel="stylesheet" href="./voing.css">
  <form id="voting-form">
    <div class="container">
      <div id="voting-area">
        <!-- voting info -->
      </div>
      <div class="clearfix">
        <button type="button" class="cancelbtn">Cancel</button>
        <button id="submit-vote" type="submit" class="submitBtn">Submit</button>
      </div>
    </div>
  </form>
<script src="/voing-page/voting.js" charset="utf-8"></script>
