* {
    box-sizing: border-box;
  }
  
  body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    font-family: Arial;
    background-image: linear-gradient( to bottom, #f9a828, #ececeb, #07617d, #2e383f);
  }
  
  nav {
    display: flex;
    justify-content: flex-start;
  }
  nav header {
    color: black;
    padding-inline-end: 15%;
    text-decoration: none;
    text-align: left;
    font-size: 50px;
  }
  
  nav a {
    color: #13293d;
    padding: 80px;
    text-decoration: none;
    text-align: right;
    text-decoration: underline;
  }
  
  .animation-area {
    background: linear-gradient( to left, #ff165d, #ff9a00,);
    width: 100%;
    height: 150%;
  }
  
  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
       top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }
  
  form {
    display: flex;
    flex-direction: center;
    justify-content:space-evenly;
  font-family: Arial;
    border: 3px solid #f1f1f1;
    border-radius: 12px;
    width: 70%;
    height: 450px;
    margin-left: 15%;
  }
  
  .comment {
    width: 450px;
    height: 150px;
    padding: 12px 20px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 12px;
    /* float: right; */
  }

  .results {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin-top: 150px;
  }
   
  button {
    display: flex;
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    border-radius: 12px;
    flex-direction: column;
    justify-content: space-between;
  
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  .cancelbtn {
    /* float: left; */
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #f44336;
  }
  
  .submitBtn {
    /* float: left; */
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
      
  /* .container {
    padding: 16px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  } */
  
  a {
    color:black;
  }
  
  a:hover {
    color: red;
  }
  
  #camera:hover {
    color: red;
  }
  
  #LED:hover {
    color: red;
  }
  
  #cal:hover {
    color: red;
  }
  
  footer { 
  display: flex;
  flex-direction: row;
  justify-content: space-evenly
  }
  
  .About {
  width: 40%;
  height: 25%;
  display: inline-block;
  float: left;
  }
  
  /* #facebook, #instagram, #twitter {
  display: inline-block;
  float: center;
  justify-content: space-around;
  }
   */
  #downL {
  display: flex;
  justify-content: space-between ;
  float: right;
  margin-right: 250px;
  
  }
  
  #copyright {
  display: flex;
  justify-content: space-evenly;
  }
  