* {
    box-sizing: border-box;
  }
  
  body {
      height: 110vh;
    font-family: Arial;
    background-image: linear-gradient( to bottom, #f9a828, #ececeb, #07617d, #2e383f);
  }
  
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  nav header {
    color: black;
    flex: 0 3 30%;
    /* padding-inline-end: 15%; */
    text-decoration: none;
    text-align: left;
    font-size: 30px;
  }
  
  nav a {
    color: #13293d;
    /* padding: 80px; */
    text-decoration: none;
    /* text-align: right; */
    text-decoration: underline;
    
  }

  h1{
      /* flex-shrink: 3; */
      font-size: 22px;
      margin-left: 25px;

      
  }
  
  /* .animation-area {
    background: linear-gradient( to left, #ff165d, #ff9a00,);
    width: 100%;
    height: 100vh;
  } */
    
  form {
    /* display: flex;
    flex-direction: center;
    justify-content:space-evenly; */
  font-family: Arial;
    border: 3px solid #f1f1f1;
    border-radius: 12px;
    /* width: 70%;
    height: 450px;
    margin-left: 15%; */
  }
  
  /* .comment {
    width: 450px;
    height: 150px;
    padding: 12px 20px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 12px;
    float: right;
  } */

  .results {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      text-align: center;
  }
   
  
  button:hover {
    opacity: 0.8;
  }
    
  a {
    color:black;
  }
  
  a:hover {
    color: red;
  }
  
  #camera:hover {
    color: red;
  }
  
  #LED:hover {
    color: red;
  }
  
  #cal:hover {
    color: red;
  }
  
  footer { 
  }
  
  h4{
      text-align: center;
  }
  /* .About {
  width: 40%;
  height: 25%;
  display: inline-block;
  float: left; */
  
  /* #facebook, #instagram, #twitter {
  display: inline-block;
  float: center;
  justify-content: space-around;
  }
   */
  /* #downL {
  display: flex;
  justify-content: space-between ;
  float: right;
  margin-right: 250px;
  
  } */
  
  /* #copyright {
  display: flex;
  justify-content: center;
  } */

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
    padding: 0;
    /* width: 100vw; */
    list-style-type: none;
  }

  /* @media screen and (max-width: 680px) {
      .nav a{
        color: #13293d;
        padding: 15px;
        display: flex;
        flex-direction: column;
        text-align: right;
        text-decoration: underline;
        min-width: 30px;
    
      }

      nav header{
        flex: 0 3 30%;


      }
      
      form {
        /* display: flex; */
        /* flex-direction: cente; */
        /* justify-content:space-evenly; */
      /* font-family: Arial; */
        /* border: 3px solid #f1f1f1; */
        /* border-radius: 12px; */
        /* width: 425px;
        height: 200px; */
        /* margin-left: 15%; */
      }
      
      /* .comment { */
        /* width: 350px;
        height: 150px; */
        /* display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        border: 1px solid #ccc; */
      }
    
      /* .results, .title{
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          margin-top: 15px;
          margin-left: 20px; */
      }
        
        .About {
        /* width: 400px;
        height: 150px; */
        /* margin-left: 65px; */
        }

        #downL {
            
            }
            
            /* #copyright {
            display: flex;
            flex-direction:row;
            justify-content: center;
            margin-left: 40%;
            } */
          
            
          
        
  } */
  