* {
    box-sizing: border-box;
  }
  
  body {
<<<<<<< HEAD
    height: 110vh;
=======
      display: flex;
      flex-direction: column;
      justify-content: space-between;
>>>>>>> main
    font-family: Arial;
    background-image: linear-gradient( to bottom, #f9a828, #ececeb, #07617d, #2e383f);
  }



nav {
    display: flex;
<<<<<<< HEAD
    justify-content: row;
  }
  nav header {
    color: black;
    flex: 0 3 30%;
    /* padding-inline-end: 15%; */
    text-decoration: none;
    text-align: left;
    font-size: 30px;
=======
    justify-content: flex-start;
  }
  nav header {
    color: black;
    padding-inline-end: 15%;
    text-decoration: none;
    text-align: left;
    font-size: 50px;
>>>>>>> main
  }
  
  nav a {
    color: #13293d;
<<<<<<< HEAD
    /* padding: 80px; */
    text-decoration: none;
    /* text-align: right; */
    text-decoration: underline;
  }

  h1{
    text-transform: uppercase;
    text-align: right;
    /* display: grid; */
    margin-left: 50px;
}

h2{
    text-align: center;
}

h3{
    text-align: center;
}

h4{
  visibility: hidden;
}
=======
    padding: 80px;
    text-decoration: none;
    text-align: right;
    text-decoration: underline;
  }

  .animation-area {
    background: linear-gradient( to left, #ff165d, #ff9a00,);
    width: 100%;
    height: 100vh;
  }
>>>>>>> main

  #we:hover {
    background-color: lightblue;
  }
  
  #you:hover {
    background-color: lightblue;
  }

  .btnWe {
    border: 5px solid red;
    color:black;
<<<<<<< HEAD
    text-align:center;
    size: 100px;
    font-size: 50px;
    border-radius: 12px;
    margin-top: 50px;
=======
    text-align:left;
    size: 100px;
    font-size: 50px;
    padding: 32px 16px;
    border-radius: 12px;
    margin-left: 15%;
    float: left;
>>>>>>> main

  }

  .btnYou {
    border: 5px solid red;
    color:black;
<<<<<<< HEAD
    text-align: center;
    size: 100px;
    font-size: 50px;
    border-radius: 12px;
    margin-top: 50px;

  }

  .pikBtn{
    display: grid;
    justify-content: center;
  }

=======
    text-align: right;
    size: 100px;
    font-size: 50px;
    padding: 32px 16px;
    border-radius: 12px;
    margin-right: 15%;
    float:right;

  }

>>>>>>> main
  
  a {
    color:black;
  }

  a:hover {
    color: red;
  }

  #camera:hover {
    color: red;
  }

  #LED:hover {
    color: red;
  }

  #cal:hover {
    color: red;
  }
<<<<<<< HEAD
  
  .About {
    display: none;
=======

  footer { 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
  }
  
  .About {
    width: 40%;
    height: 25%;
    display: inline-block;
    float: left;
>>>>>>> main
  }
  
  /* #facebook, #instagram, #twitter {
    display: inline-block;
    float: center;
    justify-content: space-around;
  }
   */
<<<<<<< HEAD

   ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
    padding: 0;
    /* width: 100vw; */
    list-style-type: none;
  }

  /* #copyright {
    display: flex;
    justify-content: space-evenly;
  } */
  

  @media screen and (min-width: 700px) {
    * {
        box-sizing: border-box;
      }
      
      body {
        height: 110vh;
        font-family: Arial;
        background-image: linear-gradient( to bottom, #f9a828, #ececeb, #07617d, #2e383f);
      }
    
      nav {
        display: flex;
        justify-content: flex-start;
      }
      nav header {
        color: black;
        padding-inline-end: 15%;
        text-decoration: none;
        text-align: left;
        font-size: 50px;
      }
      
      nav a {
        color: #13293d;
        padding: 80px;
        text-decoration: none;
        text-align: right;
        text-decoration: underline;
      }

      h1{
        /* text-transform: uppercase; */
        text-align: right;
        /* display: grid; */
        /* margin-left: 80px; */
    }

    h3{
      text-align: center;
      margin-top: 100px;
  }
  

    .pikBtn{
      display:flex;
      justify-content: center;
    }

    .btnWe {
      border: 5px solid red;
      color:black;
      text-align:center;
      size: 100px;
      font-size: 50px;
      border-radius: 12px;
      margin: 50px;
     padding: 50px;
  
    }
  
    .btnYou {
      border: 5px solid red;
      color:black;
      text-align: center;
      size: 100px;
      font-size: 50px;
      border-radius: 12px;
      margin: 50px;
      padding: 50px;
    }
  
  
      
    footer { 
      display: flex;
      flex-direction: row;
      justify-content: space-evenly
    }
    
    .About {
      width: 40%;
      height: 25%;
      display: inline-block;
      float: left;
    }
    
    /* #facebook, #instagram, #twitter {
      display: inline-block;
      float: center;
      justify-content: space-around;
    } */
    
    
    
=======
  #downL {
    display: flex;
  justify-content: space-between ;
  float: right;
  margin-right: 250px;
  
  }
  
  #copyright {
    display: flex;
    justify-content: space-evenly;
>>>>>>> main
  }
  